*{
    margin: 0;
    padding: 0;
}
.title{
    font-size: 2.8rem;
    padding: 12px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/*Styling the upper half of the page*/
.first_box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 100px;
    justify-content: center;
    background-color:#edeef0 ;
    
}

/*Styling the picture of the student */
.picture{
    height: 180px;
    margin: 3px 6px;
    padding: 30px;
    border-radius: 50%;
}
 
/*Styling the information of the student */
.first_box ul{
    padding: 40px;
    list-style: none;
    width:300px;
    background-color: white;
    box-shadow: 7px 8px lightgray;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: bold;
}

/*Styling the secondary heading */
h2{
    font-size: 1.8rem;
    padding: 12px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.box-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*Styling the box for the subject */
.box{
    height:7rem;
    width: 25vh;
    background-color: #edeef0 ;
    text-align:center;
    border-radius: 1rem;
    box-shadow: 0.3rem .5rem rg;
    margin:2rem;
}
.box p{
    padding:9px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
/*Styling the button */
.btn{
    padding:5px;
    border-radius: 5px;
    margin:0;
    cursor:pointer;


}

/*Styling the green button*/
.b1{
    background-color: green;
    width:25px;
    height:25px;
    
}

/*Styling the red */
.b2{
    background-color: red;
    width:25px;
    height:25px;
}

